@import "compass/reset";
@import "compass/css3";

body {
	font-size: 62.5%;
	font-family: "Gravur","GravurCondensed-Regular","Helvetica Neue","Arial Narrow",Helvetica,Arial,sans-serif;
}

.container {
	font-family: 'Open Sans', sans-serif;
	text-align: center;

	width: 100%;
	
	overflow: hidden;

	.general {
		background: url('/images/sand.png');	
		padding: 10em 0;
	}

	.summary {
		background: url('/images/sand.png');	
		padding: 10em 0;	
	}

	h2 {
		font-size: 5em;
		font-weight: bold;
		text-transform: uppercase;
		padding: 1em 0;
	}

	#overview {
		padding: 1em;
		margin: 0 10em;
		border: 1px solid #cccccc;
	}

	ul {
		li {
			float: left;
			width: 50%;
			box-sizing: border-box;
			padding: 4em 0;
		}
	}

	.polar-chart {
		padding: 4em 0;
	}

}